<div class="container">
   <div class="accordion" id="accordion1">
    <div class="accordion-group">
      <div class="accordion-heading">
	<a class="accordion-toggle" data-toggle="collapse" href="#collapseOne">
	  <legend>Ρωτήστε</legend>
	</a>	
      </div>
      <div id="collapseOne" class="accordion-body collapse">
	<div class="accordion-inner">
	  <form class="form-horizontal" ng-submit="addSource()">
	    <div class="control-group">
	      <div class="controls">
		<textarea rows="3" placeholder="Geppeto, θέλω να μάθω αν είναι αλήθεια ότι...." 
			  class="input-xxlarge"
			  ng-model="s.text"></textarea>
	      </div>
	    </div>
	    <div class="control-group">
	      <div class="controls">
		<input type="url" id="inputLink" 
		       placeholder="όπως φαίνεται σε αυτό το URL" 
		       class="input-xxlarge"
		       ng-model="check.link" required></input>
	      </div>
	    </div>
	    <div class="control-group">
	      <div class="controls">
		<button type="submit" class="btn-info">Βοηθήστε με</button>
		<a href="#">(Πως αλλιώς μπορώ να ρωτήσω;)</a>
	      </div>
	    </div>
	  </form>
	</div>
      </div>
    </div>
   </div>
   <legend>Μέχρι τώρα...</legend>
   <form class="form-search" ng-submit="getSourceForPinnochio()">
     <div class="btn-group" ng-model="searchstatus" bs-buttons-radio>
       <button type="submit" class="btn" value="All">Όλα</button>
       <button type="submit" class="btn" value="Fact">Αλήθειες</button>
       <button type="submit" class="btn" value="Lie">Μύθοι</button>
       <button type="submit" class="btn" value="Unknown">Δεν ξέρουμε ακόμη</button>
     </div>
     <input type="text" ng-model="pinnochio" 
	    bs-typeahead="pinnochios" placeholder="που δήλωσε ο/η/το...">
   </form>
   
   <div class="progress">
     <div class="bar bar-Lie" style="width: {{stats.Lies}}%;">Μύθοι</div>
     <div class="bar bar-Fact" style="width: {{stats.Facts}}%;">Αλήθειες</div>
     <div class="bar bar-Unknown" style="width: {{stats.Unknown}}%;">Δεν ξέρουμε ακόμη</div>
   </div>
   
   <div>
     <ul class="media-list">
       <li class="media" ng-repeat="s in pinnochiosources.data.rows">
	 <a class="pull-left" href="#">
	   <!-- <img class="img-circle" width="128" height="128" ng-src="geppeto/_design/geppeto/style/{{s.value.status}}.jpg"> -->
	</a>
	<div class="media-body well">
	  <h4 class="media-heading">
	    {{s.value.pname}}
	  </h4>
	  <blockquote class="media-heading">
	    <p class="text-{{s.value.status}}">{{s.value.text}}</p>
	    <small><a ng-href="{{s.value.link}}">πηγή</a></small>
	  </blockquote>
	  <p>
	    <a ng-href="#/source/{{s.value.id}}">ανάλυση</a>
	  </p>
	</div>
      </li>
    </ul>
  </div>
</div>

